.input-field input[type=password]:focus + label,
.input-field input[type=text]:focus + label {
    color: #ff6d00;
}

.input-field input[type=password],
.input-field input[type=text] {
    color: #FFF;
}

.input-field input[type=password]:focus,
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff6d00;
    box-shadow: 0 1px 0 0 #ff6d00;
}