{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'lib/materialize/css/materialize.min.css' %}" media="screen, projection">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <title>Social</title>
</head>
<body class=" blue-grey lighten-5">
  <nav>
    <div class="nav-wrapper black">
      <ul class="left hide-on-med-and-down">
        <li><a href="{% url 'feed:feed' %}">Home</a></li>
        <li><a href="{% url 'authentication:profile' %}">Perfil</a></li>
      </ul>
      <ul class=right>
        <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="container" >
      {% block body %}
      {% endblock body %}
    </div>
  </main>

  <script type="text/javascript" src="{% static 'lib/jquery-2.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/materialize/js/materialize.min.js' %}"></script>

  {% block javascript %}
  {% endblock javascript %}

</body>
</html>