{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
  <div class="row">
    <form action="{% url 'feed:feed' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

      <textarea name="text" placeholder="O que deseja compartilhar?" class="materialize-textarea" required></textarea>
      
      <div class="col s12 valign-wrapper">
        <div class="file-field input-field col s9">
          
          <div class="btn left orange accent-4">
            <i class="material-icons">perm_media</i>
            <input type="file" accept="image/*" name="image">
          </div>
          
          <div class="file-path-wrapper">
            <input type="text" class="file-path validate">
          </div>
        </div>
        
        <div class="valin col s3">
          <button type="submit" class="right btn waves-effect waves-light orange accent-4">Publicar</button>
        </div>
      </div>
    </form>
  </div>

  {% if post_list %}
    {% for post in post_list %}
      <div class="row">
        <div class="card-panel hoverable">
          <div class="card-content">
            <div class="row valign-wrapper">
              
              <div class="col s2 center-align">
                {% if post.author.image %}
                  <img src="{{ post.author.image.url }}" class="circle profile-image">
                {% else %}
                  <img src="{% static 'img/generic_profile_img.jpg' %}" class="circle profile-image">
                {% endif %}
              </div>
              <div class="col s10">
                <h4>{{ post.author.first_name }}</h4>
                <h6>{{ post.pub_date }}</span></h6>
              </div>

            </div>
          </div>

          {% if post.image %}
          <hr>
          <div class="card-image center-align">
            <img src="{{ post.image.url }}">
          </div>
          {% endif %}

          <div class="card-content">
            <p>{{ post.text }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="center">
      <h3>Nenhuma publicação</h3>
    </div>
  {% endif %}
{% endblock body %}