::-webkit-input-placeholder {
    color: #757575;
    opacity: 1 !important; /* for chrome */
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #757575;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
form .materialize-textarea:focus {
    border-bottom: 1px solid #ff6d00 !important;
    box-shadow: 0 1px 0 0 #ff6d00 !important;
}

.input-field input[type=email]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
    color: #ff6d00;
}

.card-image img{
	max-height: 400px;
	max-width: 1000px;
	width: auto;
	height: auto;
}

.profile-image {
    max-height: 70px;
    max-width: 70px;
}

.tabs .tab a {
    color: #ff6d00;
}

.tabs .indicator {
  background-color: #ff6d00;
}

.inline-paragraph {
    display: inline;
    padding-left: 15px;
}
